.header{
	position: fixed;
	height: 120px;
	width: 100%;
	top: 0px;
	background: #d9d9d5;
	/*
	box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.5);
	*/
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
	z-index: 2;
}
body{
	margin: 0;
	padding: 0;
	background:#eaeaea;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.logo{
	height: 100px;
	float: left;
	position: relative;
	top: 10px;
	left: 15%;
}
.topMenu{
	padding-top: 60px;
	text-align: center;
}
.topMenu a{
	margin: 20px;
	color: #666;
	font-size: 18px;
	position: relative;
	left: -100px;
}
.content{
	position: relative; /* Относительное позиционирование */
    top: 8.5em; /* Сдвигаем вниз */
	width: 70%;
	height: 1200px;
	background: #fff;
	margin: auto;
	/*
	box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.5);
	*/
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
	z-index: 1;
}
.footer{
	position: relative; /* Фиксированное положение*/
    left: 0; bottom: 0; /* Левый нижний угол */
    /*padding: 10px;*/ /* Поля вокруг текста */
    height: 40px;
    background: #797975; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    top: 8.5em; 
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
    z-index: 2;
}

.navigation{
	margin: auto;
	/*position: relative;*/
	/*left: -70px;*/

}
.settings{
	position: relative;
	width: 70%;
	left: 0px;
	margin: auto;
	text-align: right;
}
.settings a{
	margin: 10px;
	font-size: 16px;
	text-align: left;
	position: relative;
	left: 10px;
}

a{
	text-decoration: none;
}

li {
        width: 200px;
        min-height: 250px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        padding-bottom: 20px;
        zoom: 1;
        *display: inline;
        _height: 250px;
        box-shadow: 0 0 5px rgba(122,122,122,0.5);
    }
.catalog h4{
	text-align: center;
}

.catalog img{
	padding-left: 40px; 
}

.catalog{
	padding-left: 13%;
	padding-top: 5%;
}

.button {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 14px;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.button:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.button_add{
	text-align: center;
}

.registrationForm{	
    position: relative; /* Относительное позиционирование */
    top: 8.5em; /* Сдвигаем вниз */
	width: 70%;
	height: 800px;
	background: #fff;
	margin: auto;
	text-align: center;
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
	z-index: 1;

}

.input{
	position: relative; /* Относительное позиционирование */
	top: 15em; /* Сдвигаем вниз */
	margin: auto;
}

table{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #FFF;
	max-width: 90%;
	width: 90%;
	border-collapse: collapse;
	text-align: left;
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
}

th{
	font-weight: normal;
	color: #666;
	padding: 10px 15px;
}
td{
	color: #666;
	border-top: 1px solid #999;
	padding: 10px 15px;
}
tr:hover td{
	background: #fafafa;
}

div.myBagTable{

	padding-top: 5.5em;
	padding-left: 10%;
}

.myBagContent{
	position: relative; /* Относительное позиционирование */
	top: 1.8em; /* Сдвигаем вниз */
	width: 70%;
	height: 1200px;
	background: #fff;
	margin: auto;
	/*
	box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.5);
	*/
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
	z-index: 1;
}

.language {
	float: right;
	position: relative;
	top: 10px;
	left: -15%;
}

.adminTable{
	position: relative;
	top: 5em;
	width: 70%;
	margin: auto;
	text-align: center;

}

#signInPanel{
	width: 250px;
	height: 150px;
	background-color: #FFFFFF;
	position: absolute;
	right: 15%;
	top: 8.5em;
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
	display: none;
}

.signInForm{
	padding-top: 1em;
}

/*#userMoney{*/
	/*display: none;*/
/*}*/

.userAccount{
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 5em;
	font-size: 2em;
}